section {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 15vmin;
  position: relative;
  pointer-events: none;
}
h3{
  font-weight: 700;
}
h4{
  margin-bottom: 0;
  font-weight: 500;
}
h5{
  font-weight: 300;
  font-style: italic;
}
p{
  margin-bottom: 0;
}

.name {
  justify-content: space-between;
  gap: 25%;
  margin-bottom: 1%;
}
label {
  font-size: medium;
  font-weight: 100;
}
input {
  font-size: medium;
}
button {
  width: max-content;
  position: relative;
  font-size: small;
  font-weight: 500;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: black;
}
Link{
  font-size: xx-small;
}
ul {
  display: flex;
  overflow-y: hidden;
  gap: 12%;
}

li {
 font-weight: 100;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
